*{
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
header{
    background-color: #212B36;
    margin: 0px 0px 0px 0px;
    position: sticky;
    top: 0px;
    z-index: 1;
}
ul{
    list-style-type:none;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}
ul li{
    display:inline-block;
    padding:10px;
    margin:0px 5px;
    color:#C4CDD5;
    font-size:20px;
    font-family:arial, cursive, sans-serif;
    font-weight:700;
    margin: 5px 20px;
}
li:hover{
    color: white;
}
img{
    width: 330px;
    height: 320px;
    margin: 1px 2.1px;
}